.logo{
  position: absolute;
  right:10px;
  padding:10px;

}
.logo h2{
  color:grey
}
.adj{
  position:relative;
  width:100%;
  top:50px;
}
.user-input-wrp {
	position: relative;
	width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;

}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid grey;
 	box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
	border-color: blue;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
  position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label, .user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}
.otpcard{
  width:500px;
  height:400px;
  color:black;
  padding:20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top:120px;
  border-radius: 10px;
  border: 1px solid grey;

}
.otpcard h3{
  color:#343a40
}
.otpcard p{
  color:grey;
  position: relative;
  top:10px;
  font-size: 14px;
}
.otpbtn{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top:15px;
}
.resend{
  padding:10px;
  border-radius: 5px;
  display: block;
  width:120px;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top:30px;
}
.passwordreset{
  width:500px;
  height:350px;
  border: 1px solid grey;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top:130px;
  border-radius: 10px;
  opacity: 0.96;

}

#chngpassform{
  background: transparent;
  outline: none;
  border:none;
  width:100%;
  padding: 20px;
}
.resetbtn{
  position: relative;
  left:20%;
  top:80px;
}
.resetdiv{
  width:100%;
  height: 100%;
  position: absolute;
  
}
#reasetheading{
  position:absolute;
  padding:15px;
  left:135px;

}

#seepass{
  position: absolute;
  top:90px;
  right:110px;


}
